html, body{
	height: 100%;
	padding: 0px;
	margin: 0px;
}

a{
	display: inline-block;
	text-decoration: none;
	color: black;
}

a:hover{
	color: grey;
	text-decoration: none;
}
p{
	font-size: 0.9em;
	color: grey;
}

.i-block{
	display: inline-block ;
}

/*MENU*/
.nav>li>a{
	padding: 10px 25px;
}

.gris{
	background-color: #D8D8D8;
	padding-top: 3%;
}

.form-control{
	border-radius: 0px;
}

.navbar .navbar-brand {
  font-size: 35px;
  color: #444;
}
.navbar .navbar-toggle .icon-bar {
  background: #444;
}
.navbar .navbar-right .separator {
  margin-top: 12px;
  margin-left: 5px;
}

/*****/
.foto{
	width: 100%;
	padding-top: 15%;
	padding-bottom: 15%;
	margin-bottom: 5%;
}

/*Agenda*/
.fecha-agenda{
	width: 23%;
	padding: 2%;

}

/*Footer*/
.big-hr{
	border: 5px solid #848484;
}

i{
	margin-right: 5px;
}

/******************************/


@media (max-width: 991px) and (min-width: 768px) { 
	.nav>li>a{
		padding: 10px 12px;
	}
}

@media screen and (max-width: 600px) {
    * {
        font-size: 0.97em;
    }
}

@media screen and (max-width: 767px) {
    iframe{
		height: 250px;
		width: 100%;
	}
}

@media (min-width: 768px) and (max-width: 919px)  {
    iframe{
		height: 205px;
		width: 100%;
	}
}

@media (min-width: 992px) and (max-width: 1199px)  {
    iframe{
		height: 202px;
		width: 100%;
	}
}

@media (min-width: 1200px) {
    iframe{
		height: 207px;
		width: 100%;
	}
}

h2{
	font-size: 1.8em;
}

h3{
	font-size: 1.6em;
}

h4{
	font-size: 1.4em;
}